.container{
    height: 100vh;
    width: 100vw;
    background-color: beige;
    border: solid red 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 300px;
    width: 300px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all 3s linear 1s;
    
}


p{
    font-size: 25px;
    color: wheat;

}

.box:hover{
/* transform: rotate(45deg); */
/* transform: scale(2); */
/* transform: scale(0.5); */
/* transform: skew(-30deg); */
transform: translate(400px, 400px);
}